.card {
  // min-width: 550px;

  // @media (min-width: 1400px) {
  //   min-width: 683px;
  // }

  &__img {
    display: block;
    width: 100%;
    height: 230px;
    margin-bottom: 30px;
    object-fit: cover;

    @media (min-width: 760px) {
      height: 318px;
    }

    &--large {
      height: 320px;

      @media (min-width: 760px) {
        height: 500px;
      }

      @media (min-width: 1200px) {
        height: 550px;
      }

      @media (min-width: 1900px) {
        height: 683px;
      }
    }

    &--small {
      height: 165px;

      @media (min-width: 760px) {
        height: 220px;
      }

      @media (min-width: 1900px) {
        height: 273px;
      }
    }
  }

  & picture#{&__img} img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__more {
    margin-top: 20px;
  }
}
