.card {
  &__img {
    display: block;
    margin-bottom: 30px;
    height: 230px;
    object-fit: cover;

    @media (mix-width: 760px) {
      height: 318px;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__more {
    margin-top: 20px;
  }
}
