.footer {
  margin: 80px 0;

  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    margin-bottom: 80px;
    gap: 20px 0;

    @media (min-width: 760px) {
      grid-template-columns: 200px 1fr;
      gap: 20px;
    }
  }

  &__term {
    @media (max-width: 759px) {
      display: none;
    }
  }
}