.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: $white;
}

.header-logo {
  position: fixed;
  z-index: 1002;
  top: 13px;
  left: 20px;

  @media (min-width: 760px) {
    left: calc((100vw - var(--container-width)) / 2);
  }
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 80px;
  height: 60px;

  @media (min-width: 760px) {
    height: 90px;
  }

  @media (max-width: 1199px) {
    gap: 50px;
  }

  @media (max-width: 759px) {
    justify-content: flex-end;
    margin-right: 63px;

    & a:nth-child(-n + 2) {
      display: none;
    }
  }
}

.hamburger {
  position: fixed;
  z-index: 1002;
  top: 20px;
  right: 14px;
  width: 50px;
  height: 50px;
  cursor: pointer;

  @media (min-width: 760px) {
    right: calc((100vw - var(--container-width)) / 2 - 6px);
  }

  & span {
    position: absolute;
    left: 50%;
    display: block;
    width: 33px;
    height: 3px;
    background-color: $black;
    transform: translate(-50%, -50%);

    @media (min-width: 760px) {
      width: 38px;
      height: 4px;
    }

    &:nth-child(1) {
      top: calc(50% - 12px);
      transition: 0.3s ease;
      transition-property: top, transform;
    }

    &:nth-child(2) {
      top: 50%;
      transition: 0.3s opacity ease;
    }

    &:nth-child(3) {
      top: calc(50% + 12px);
      transition: 0.3s ease;
      transition-property: top, transform;
    }
  }

  body.--menu & span,
  body.--post & span {
    &:nth-child(1) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.menu {
  position: fixed;
  padding: 120px 67px;
  top: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  background-color: $white;
  border-left: 1px solid #656a77;
  transition: 0.3s transform ease;
  transform: translateX(100%);

  @media (min-width: 1200px) {
    border-left: 1px solid #656a77;
    width: calc((100vw - var(--container-width)) / 2 + 68.3px * 10);
  }

  body.--menu {
    overflow: hidden;
  }

  body.--menu & {
    transform: translateX(0px);
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 80px;
  }

  &__columns {
    display: grid;
    grid-template-columns: 180px 180px;
    gap: 20px;
  }

  &__sitemap {
    margin-top: 80px;
  }
}
