extends ../layout/main

block variable
  - const title = 'Portfolio'

block content
  section.section
    .container
      .container__inside
        h1.title-h1.section__title We help business grow taller.
        p.text-main.section__text From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction, and market-penetrating strategies.

        .section__posts
          each card in [1, 2, 3, 4]
            .card
              img(src=`/img/portfolio/item-${card}.jpg`, alt="").card__img.card__img--large
              h4.title-h3.card__title Project title
              p.text-main.card__text From pre-seed to series, we accelerate the companies we believe in by generating.
        
        a(href="#").btn-main.section__more Load more