extends ../layout/main

block content
  .section
    .container
      .container__inside
        h1.title-h1.section__title Sitemap

        .section__sitemap
          a(href="/").link-big Main page
          a(href="/projects.html").link-big Our projects
          a(href="/portfolio.html").link-big Portfolio
          a(href="/blog.html").link-big Blog
          a(href="/about.html").link-big About
          a(href="/contact.html").link-big Contact
          a(href="/brief.html").link-big Fill out brief
          a(href="/job.html").link-big Jobs