.container {
  max-width: calc(var(--container-width) + 40px);
  margin: 0 auto;
  padding: 0 20px;
}

.container__inside {
  @media (min-width: 760px) {
    width: calc(var(--container-column-width) * 10);
    margin-left: calc(var(--container-column-width) * 3);
  }
  
  @media (min-width: 1200px) {
    transition: 0.3s transform ease;
    // transition: 0.3s margin-left ease;
    width: calc(var(--container-column-width) * 11);
    margin-left: calc(var(--container-column-width) * 10);
  }

  @media (min-width: 1900px) {
    width: calc(var(--container-column-width) * 10);
    margin-left: calc(var(--container-column-width) * 11);
  }
}

body.--menu .container__inside,
body.--popup .container__inside {  
  @media (min-width: 1200px) {
    transform: translateX(calc(var(--container-column-width) * -8));
    // margin-left: calc(var(--container-column-width) * 2);
  }

  // @media (min-width: 1900px) {
  //   margin-left: calc(var(--container-column-width) * 3);
  // }
}