.container {
  max-width: calc(var(--container-width) + 40px);
  margin: 0 auto;
  padding: 0 20px;
}

.container__inside {
  transition: 0.3s margin-left ease;

  @media (min-width: 768px) {
    width: calc(var(--container-column-width) * 10);
    margin-left: calc(var(--container-column-width) * 3);
  }
  
  @media (min-width: 1200px) {
    width: calc(var(--container-column-width) * 11);
    margin-left: calc(var(--container-column-width) * 10);
  }

  @media (min-width: 1900px) {
    width: calc(var(--container-column-width) * 10);
    margin-left: calc(var(--container-column-width) * 11);
  }
}

body.--menu .container__inside,
body.--post .container__inside {
  margin-left: 0;

  @media (min-width: 768px) {
    
  }
  
  @media (min-width: 1200px) {
    margin-left: calc(var(--container-column-width) * 2);
  }

  @media (min-width: 1900px) {
    margin-left: calc(var(--container-column-width) * 3);
  }
}