body {
  font-family: 'Gilroy';
  background-color: $white;
  color: $black;
  font-size: 16px;
  line-height: 1.6;

  &.--menu {
    overflow: hidden;
  }
}

a {
  transition: 0.3s color ease;

  &:hover {
    color: #656A77;
  }
}

::selection {
  background-color: $black;
  color: $white;
}

:root {
  --container-width: 1640px;
  --container-columns: 24;
  --container-column-width: calc(var(--container-width) / var(--container-columns));

  @media (max-width: 1899px) {
    --container-width: 1200px;
  }

  @media (max-width: 1199px) {
    --container-width: 700px;
    --container-columns: 14;
  }

  @media (max-width: 767px) {
    --container-width: 100%;
    --container-columns: 12;
  }

  @media (max-width: 567px) {
    --container-columns: 4;
  }
}