body {
  font-family: 'Gilroy';
  background-color: $white;
  color: $black;
  font-size: 16px;
  line-height: 1.6;
}

a {
  transition: 0.3s color ease;

  &:hover {
    color: #656A77;
  }
}

::selection {
  background-color: $black;
  color: $white;
}