.section-blog {
  &__form {
    margin-top: 30px;
  }
}

.form-search {
  position: relative;

  & button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1001;
  height: 100vh;
  transform: translateX(100%);
  transition: 0.3s transform ease;
  transition-delay: 0s;
  border-left: 1px solid #656A77;
  background-color: $white;
  overscroll-behavior: none;
  overflow: auto;

  @media (min-width: 1200px) {
    width: calc(var(--container-column-width) * 10 + (100vw - var(--container-width)) / 2);
  }

  body.--popup & {
    transform: translateX(0);
    transition-delay: 0.05s;
  }

  &.close {
    transform: translateX(100%) !important;
  }

  &__wrap {
    padding: 30px var(--container-column-width) 120px;
    width: calc(var(--container-column-width) * 11);

    // @media (max-width: 1899px) {
    //   padding: 40px 100px 40px 50px;
    // }
  }
}

.post {
  &__img {
    display: block;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__text ~ &__subtitle {
    margin-top: 30px;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__resume {
    margin-bottom: 60px;
  }

  &__link {
    margin-top: 60px;
  }
}