.section-blog {
  & .card,
  & .case {
    margin-top: 80px;
  }

  &__form {
    margin-top: 30px;
  }
}

.form-search {
  position: relative;

  & button {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

.single {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
  height: 100vh;
  transform: translateX(100%);
  transition: 0.3s transform ease;
  transition-delay: 0s;
  border-left: 1px solid #656A77;
  background-color: $white;
  overscroll-behavior: none;
  overflow: auto;

  body.--post & {
    transform: translateX(0);
    transition-delay: 0.05s;
  }

  &__wrap {
    width: 755px;
    padding: 40px 68px;

    @media (max-width: 1899px) {
      width: 600px;
      padding: 40px 100px 40px 50px;
    }
  }

  &__img {
    display: block;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__text ~ &__subtitle {
    margin-top: 80px;
  }

  &__text {
    margin-bottom: 20px;
  }
}