section {
  margin: 260px 0;
  overflow: hidden;
}

.section {
  &__title {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 80px;
  }

  &__more {
    display: inline-block;
    margin-top: 80px;
  }
}

.section-work {
  &__works {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 80px;

    @media (max-width: 1599px) {
      gap: 30px 79px;
    }
  }
}

.section-internal {
  & .case ~ .case {
    margin-top: 80px;
  }

  &__more {
    margin-top: 80px;
  }
}

.section-about {
  &__cards {
    display: flex;
    gap: 50px;
    overflow: auto;
    scroll-snap-type: x mandatory;

    & > * {
      flex-shrink: 0;
      flex-basis: 683px;
      scroll-snap-align: start;

      @media (max-width: 1899px) {
        flex-basis: 550px;
      }
    }
  }
}