footer.footer
  .container
    .container__inside
      h3.title-h2.section__title Contact us
      p.text-main.section__text From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction.s

      .footer__columns
        a(href="#").link-big Fill out brief
        a(href="#").link-big Write us on Email
      
      .footer__columns
        a(href="#").link-main Behance
        a(href="#").link-main Medium
        a(href="#").link-main Dribbble
        a(href="#").link-main Twitter
        a(href="#").link-main Istagram
        a(href="#").link-main LinkedIn
        a(href="#").link-main Facebook

      a(href="#").link-main Terms & Privacy