footer.footer
  .container
    .container__inside
      h3.title-h2.section__title Contact us
      p.text-main.section__text From pre-seed to series, we accelerate the companies we believe in by generating serious brand equity, product traction.s

      .footer__columns
        a(href="/brief.html").link-big Fill out brief
        a(href="/contact.html").link-big Write us on Email
      
      .footer__columns
        a(href="#").link-main.text-gray Behance
        a(href="#").link-main.text-gray Medium
        a(href="#").link-main.text-gray Dribbble
        a(href="#").link-main.text-gray Twitter
        a(href="#").link-main.text-gray Istagram
        a(href="#").link-main.text-gray LinkedIn
        a(href="#").link-main.text-gray Facebook

      a(href="/term.html").link-main Terms & Privacy