header.header
  .container
    .container__inside
      .header-nav
        a(href="/portfolio.html").link-main Portfolio
        a(href="/about.html").link-main About us
        a(href="/brief.html").link-main Fill out brief

a(href="/").header-logo
  img(src="/img/logo.svg", alt="").header-logo__img

button.hamburger
  span
  span
  span

.menu
  .menu__list
    a(href="/projects.html").title-h3 Our projects
    a(href="/blog.html").title-h3 Blog
    a(href="/contact.html").title-h3 Contact
    a(href="/job.html").title-h3 Jobs
    a(href="/partners.html").title-h3 For partners
  .menu__columns
    a(href="#").link-main Behance
    a(href="#").link-main Medium
    a(href="#").link-main Dribbble
    a(href="#").link-main Twitter
    a(href="#").link-main Istagram
    a(href="#").link-main LinkedIn
    a(href="#").link-main Facebook
  
  a(href="/sitemap.html").link-main.text-gray.menu__sitemap Sitemap