header.header
  a(href="#").header-logo
    img(src="/img/logo.svg", alt="").header-logo__img

  .container
    .container__inside
    
      .header-nav
        a(href="/blog.html").link-main Portfolio
        a(href="/about.html").link-main About us
        a(href="/brief.html").link-main Fill out brief

  .hamburger
    span
    span
    span